<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/199/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>hoteleria-EstebanQuesada</title>
    </head>
    <body>
         <header th:replace="~{layout/plantilla :: header}"/>
         
         <div>
            <h2>Lista de Hoteles</h2>
            <div th:each="hotel : ${hoteles}">
                <h3 th:text="${hotel.nombre}">Nombre del Hotel</h3>
                <p th:text="${hotel.ubicacion}">Ubicación</p>
                <p th:text="${hotel.descripcion}">Descripción</p>
            </div>
         </div>

         <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>