<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{layout/plantilla :: head}">
    <title>hoteleria-EstebanQuesada</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"/>
<div class="container-fluid bg-light"> <!-- Contenedor principal con fondo claro y ancho completo -->
    <div class="row justify-content-center">
        <!-- Fila centrada -->
        <div class="col-md-6">
            <!-- Columna que ocupa 6 de 12 columnas en dispositivos medianos -->
            <div class="card border-primary">
                <!-- Tarjeta con borde de color primario -->
                <div class="card-header bg-primary text-light align-items-center">
                    <!-- Encabezado de la tarjeta con fondo y texto de color primario -->
                    <h5 class="mb-0">[[${titulo}]]</h5>
                    <!-- Título de la tarjeta -->
                </div>
                <div class="card-body">
                    <!-- Cuerpo principal de la tarjeta -->
                    <p class="card-text"><strong>[[${mensaje}]]</strong></p>
                    <!-- Contenido del cuerpo de la tarjeta -->
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>